body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:455px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:190px;
  top:25px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u0_ref {
  position:absolute;
  left:282px;
  top:75px;
  width:1px;
  height:1px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:25px;
  top:186px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2_ref {
  position:absolute;
  left:117px;
  top:236px;
  width:1px;
  height:1px;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:135px;
  top:186px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4_ref {
  position:absolute;
  left:227px;
  top:236px;
  width:1px;
  height:1px;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:245px;
  top:186px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6_ref {
  position:absolute;
  left:337px;
  top:236px;
  width:1px;
  height:1px;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:355px;
  top:186px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8_ref {
  position:absolute;
  left:447px;
  top:236px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:240px;
  top:85px;
  width:0px;
  height:0px;
}
#u10_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u10_seg1 {
  position:absolute;
  left:-169px;
  top:81px;
  width:173px;
  height:8px;
}
#u10_seg2 {
  position:absolute;
  left:-169px;
  top:81px;
  width:8px;
  height:20px;
}
#u10_seg3 {
  position:absolute;
  left:-175px;
  top:86px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:-98px;
  top:77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:240px;
  top:85px;
  width:0px;
  height:0px;
}
#u12_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u12_seg1 {
  position:absolute;
  left:-59px;
  top:81px;
  width:63px;
  height:8px;
}
#u12_seg2 {
  position:absolute;
  left:-59px;
  top:81px;
  width:8px;
  height:20px;
}
#u12_seg3 {
  position:absolute;
  left:-65px;
  top:86px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:240px;
  top:85px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u14_seg1 {
  position:absolute;
  left:-4px;
  top:81px;
  width:63px;
  height:8px;
}
#u14_seg2 {
  position:absolute;
  left:51px;
  top:81px;
  width:8px;
  height:20px;
}
#u14_seg3 {
  position:absolute;
  left:45px;
  top:86px;
  width:20px;
  height:20px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:240px;
  top:85px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u16_seg1 {
  position:absolute;
  left:-4px;
  top:81px;
  width:173px;
  height:8px;
}
#u16_seg2 {
  position:absolute;
  left:161px;
  top:81px;
  width:8px;
  height:20px;
}
#u16_seg3 {
  position:absolute;
  left:155px;
  top:86px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:-2px;
  top:77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
